<ion-content>
    <img src="../../assets/images/logo11.png" >
        
    <div padding text-center>
    <p style="color: black">
       Maintaining a healthy<br>
           lifestyle doesnt have 
           to be hard,<br> <b>MedRem</b>
           has just the right tips<br>
           to help you in this healthy lifestyle journey 
        <br>you're about to beggin.
    </p>
    </div>
    
    <div padding text-center>
    <ion-button expand="full" [routerLink]="'/login'">Login</ion-button>
    <ion-button expand="full" [routerLink]="'/patient-registration'">Register</ion-button>
    </div>
</ion-content>
