.class1{
    width: 900px;
}
.class{
    // background-image: url(../../assets/images/bgpic.jpg);
    background-size: cover;
}
.bgc{
    background-color: rgb(148, 158, 158);
    background-size: cover;
}
